:root{
    // css variables
    --primary-color: #2D60FF;
    --header-color: #343C6A;
    --light-color: #F5F7FA;
}


body {
    margin: 0;
    font-size: 17px;
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
}


.wrapper {
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    
    .aside {
        width: 18%;
        border-right: 0.08rem solid #E6EFF5;

        //media queries
        @media  (max-width: 1200px) {
            width: 22%
        }
        @media  (max-width: 1024px) {
            width: 25%
        }
        @media  (max-width: 900px) {
            width: 30%
        }
        @media (max-width: 800px) {
            width: 33%;
        }
        @media (max-width: 700px) {
            display: none;
        }

        .logo {
            grid-column: 1;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            align-items: center;
            
            &__name {
                color: var(--header-color);
                font-family: 'Mont', sans-serif;
                font-size: 25px;
                font-weight: 900;
                line-height: 31.95px;
                text-align: left;

                @media (max-width: 800px) {
                    font-size: 20px;
                }
            }
    
            &__img {
                width: 2rem;
                margin: 1rem 0.5rem 1rem 1rem ;
            }
        }

        .menu {

            .menu-item {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                margin-left: 1.5rem;

                &__icon{
                    width: 1.3rem;
                }

                &__text {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19.36px;
                    text-align: left;
                    color: #B1B1B1;
                    margin-left: 1rem;
                }

                .current-page-sign {
                    background-color:  var(--primary-color);
                    width: 0.3rem;
                    height: 2.5rem;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    position: absolute;
                    left: 0;
                }

                .current {
                    color: var(--primary-color);
                }
            }
        }
    }

    .main-page {
        width: 82%;

        .main-header {
            display: flex;
            flex-direction: row;

            @media (min-width: 700px) {
                
                align-items: center;
                border-bottom: 0.08rem solid #E6EFF5;
                // justify-content:flex-end;
            }
            
            @media (max-width: 700px) {
                width: 100vw;
                justify-content: space-between;
                align-items: center;
            }

            .hamburger-menu{

                @media (min-width: 700px) {
                    display: none;  
                }
                @media (max-width: 700px) {
                    margin-left: 2rem;
                    cursor: pointer;  
                }
            }
            .page_name {
                font-size: 25px;
                font-weight: 600;
                line-height: 31.95px;
                text-align: left;
                color: var(--header-color);
                flex-grow: 1;
                margin-left: 1.5rem;

                @media (max-width: 700px) {
                    font-size: 1.2rem; 
                    
                }
            }
            
            .user-img {
                border-radius: 50%;
                width: 2.8rem;
                height: 2.8rem;
                margin: 0 1.3rem 0 1.3rem;

                @media (max-width: 700px) {
                    // align-self: center;
                }
            }

            .search-input {
                background-color: var(--light-color);
                border:none;
                outline:none;
                display:inline-block;
                height:34px;
                border-radius:22px;
                width:16rem;
                box-sizing:border-box;
                padding:0 2rem; 

                @media (max-width: 700px) {
                    // display: none;
                    position: relative;
                    top: 3rem;
                }
            }

            .search-icon {
                position: relative;
                left: 1.8rem;

                @media (max-width: 700px) {
                    position: relative;
                    top: 3.3rem;
                    z-index: 999;
                }
            }

            .button {
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                border: none;
                background-color: var(--light-color);
                cursor: pointer;
                display:inline-block;
                margin-left: 1.3rem;

                @media (max-width: 700px) {
                    display: none;
                }
            }
        }

        .page {
            background-color: var(--light-color);
        }
    }

}