.page {
    
    .topic {
        
        .card-front {
            background-color: var(--primary-color);
            border-radius: 2rem;
            width: 20rem

        }

        .card-back {
            background-color: #fff;
            border-radius: 2rem;
            width: 20rem;
            border: 1px solid #000;
        }
    }
}