
.page {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
    flex:1;

    .row-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3%;
        padding-inline: 3%;
    .topic {

        .title {
            font-size: 1rem;
            font-weight: 600;
            line-height: 26.63px;
            text-align: left;
            color: var(--header-color);
            margin-left: 1.5rem;
        }

        .cards-button {
            font-size: 0.8rem;
            font-weight: 600;
            text-align: right;
            top: 1rem;
            left: 18rem;
            text-decoration: none;
            color: var(--header-color);
            position: relative;
        }

            .card {
                height: 40vh;
                border-radius: 2rem;
                margin-top: 0.4rem;
                border-radius: 25px;
            }
    
            .card-front {
                background-image: linear-gradient(to right, #4C49ED, #0A06F4);

                &__bottom {
                    background-image: linear-gradient(#ffffff3f, #00000014);
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    height: 4rem;
                    position: relative;
                    // top: 10rem;
                }
            }
    
            .card-back {
                background-color: #fff;
                border: 0.1rem solid #DFEAF2;
                margin-top: 0.5rem;
                position: relative;
                top: 1.3rem;

                &__bottom {
                    border: 0.1rem solid #DFEAF2;
                    border-bottom-left-radius: 2rem;
                    border-bottom-right-radius: 2rem;
                    height: 4rem;
                    position: relative;
                }
            }

            .transaction {
                background-color: #fff;
                // margin-right: 1.5rem;
                align-items: center;

                &__wrapper {

                    display: flex;
                    flex-direction: row;

                    .img {
                        background-color: #FFF5D9;
                        height: 2.2rem;
                        width: 2.2rem;
                        border-radius: 50%;
                        
                        .icon {
                            height:1.5rem;
                            width:1.5rem;
                            position: relative;
                            left: 0.3rem;
                            top: 0.3rem;
                        }
                    }

                    .topic {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 19.36px;
                        text-align: left;
                        color: #232323;

                    }
                    .date {
                        font-family: Inter;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 18.15px;
                        text-align: left;
                        font-family: "Inter", sans-serif;
                    }
                    .amount {
                        font-size: 16px;
                        color: #FF4B4A;
                        font-family: Inter;
                        font-weight: 500;
                        line-height: 19.36px;
                        text-align: right;
                    }
                    .pos {
                        color: #41D4A8;
                        ;
                    }
                    .paypal {
                        background-color: #E7EDFF;
                    }
                    .jemi {
                        background-color: #DCFAF8;

                    }
                }
            }
        }
    }

        .row-2 {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 3%;
            padding-inline: 3%;

            .topic {

                .title {
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 26.63px;
                    text-align: left;
                    color: var(--header-color);
                    margin-left: 1.5rem;
                }

                .container {
                    height: 40vh;
                    border-radius: 2rem;
                    margin-top: 0.4rem;
                    border-radius: 25px;
                    background-color: #fff;
                    left: 0.1rem;

                        .series{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.3rem;
                            justify-content: flex-end;

                            &__diposit {
                                width: 1rem;
                                height: 1rem;
                                background-color: #16DBCC;
                                border-radius: 50%;

                            }
                            
                            &__withdraw {
                                width: 1rem;
                                height: 1rem;
                                background-color: #FF82AC;
                                border-radius: 50%;
                            }
                            .text {
                                font-family: Inter;
                                font-size: 0.9rem;
                                font-weight: 400;
                                font-family: "Inter", sans-serif;
                                color: #718EBF;
                                margin-right: 2rem;

                            }
                        }
                        .chart-top {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.3rem;
                            justify-content: flex-end;
                            margin-inline: 2rem;

                            .vertical-numbers {
                                margin-top: -2rem;
                            }

                            .vertical-numbers > .number {
                                font-family: "Inter", sans-serif;;
                                font-size: 13px;
                                font-weight: 400;
                                line-height: 1.1rem;
                                text-align: right;
                                color: #718EBF;
                                
                            }
                            .chart-lines > hr{
                                width: 40rem;
                                border:  1px solid #F3F3F5;
                                // margin-top:1.7rem;
                                margin-bottom: 1.8rem;
                            }
                        }

                        .chart-bottom {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 0.3rem;
                            justify-content: flex-end;
                            position: relative;
                            bottom: 6.6rem;
                            right: 4rem;
                            z-index: 999;

                            .chart-data-left {
                                background-color: #1814F3;
                                height: 5rem;
                                width: 0.7rem;
                                border-radius: 0.5rem;
                                margin-right: 0.6rem;
                            }
                            .chart-data-right {
                                background-color: #16DBCC;
                                height: 5rem;
                                width: 0.7rem;
                                border-radius: 0.5rem;
                                margin-right: 2.6rem;
                            }
                            .left-sat {
                                height: 10rem;
                                margin-top: -5rem;
                            }
                            .right-sat {
                                height: 7rem;
                                margin-top: -2rem;
                            }
                            .right-sun {
                                height: 3rem;
                                margin-top:2rem;
                            }
                            .left-mon {
                                height: 8rem;
                                margin-top: -3rem;
                            }
                            .right-tue {
                                height: 2rem;
                                margin-top:3rem;
                            }
                            .left-wed {
                                height: 10rem;
                                margin-top: -5rem;
                            }
                            .left-thu {
                                height: 3.5rem;
                                margin-top: 1.5rem;
                            }
                            .right-thu {
                                height: 4rem;
                                margin-top: 1rem;
                            }
                            .left-fri {
                                height: 6rem;
                                margin-top: -1rem;
                            }
                            .right-fri {
                                height: 3.5rem;
                                margin-top: 1.5rem;
                            }
                        }

                        .days {
                            display: flex;
                            flex-direction: row;
                            gap: 0.3rem;
                            gap: 3.8rem;
                            position: relative;
                            bottom: 6.6rem;
                            left: 6rem;

                            .day {
                                font-size: 13px;
                                font-weight: 400;
                                text-align: center;
                                color: #718EBF;
                                z-index: 1000;
                            }
                        }
                    

                    .pie-chart-part-1 {
                        width:11.5rem;
                        height: 11.5rem;
                        border-radius: 50%;
                        background: conic-gradient(#343C6A 0deg 90deg, transparent 90deg 360deg);
                        transform: rotate(-45deg);
                        position: relative;
                        .pie-chart-text {
                            transform: rotate(45deg);
                            left: 3rem;
                            top: 2rem;
                        }
                    }
                    .pie-chart-part-2 {
                        width:13rem;
                        height: 13rem;
                        border-radius: 50%;
                        background: conic-gradient(#FC7900 0deg 45deg, transparent 45deg 360deg);
                        transform: rotate(45deg);
                        position: relative;
                        bottom: 12.9rem;
                        right: 0.1rem;
                        .pie-chart-text {
                            transform: rotate(-45deg);
                            top: 1.5rem;
                            left: 2rem;
                        }
                    }
                    .pie-chart-part-4 {
                        width:10.5rem;
                        height: 10.5rem;
                        border-radius: 50%;
                        background: conic-gradient(#1814F3 0deg 90deg, transparent 90deg 360deg);
                        transform: rotate(90deg);
                        position: relative;
                        bottom: 35.5rem;
                        left: 0.5rem;
                        .pie-chart-text {
                            transform: rotate(-90deg);
                            top:2rem;
                            left: 2rem;
                        }
                    }
                    .pie-chart-part-3 {
                        width:10rem;
                        height: 10rem;
                        border-radius: 50%;
                        background: conic-gradient(#FA00FF 0deg 135deg, transparent 135deg 360deg);
                        transform: rotate(-180deg);
                        position: relative;
                        bottom: 25rem;
                        left: 0.3rem;
                        .pie-chart-text {
                            transform: rotate(180deg);
                            left: 2.3rem;
                            top: 2.7rem;
                        }
                    }
                    .pie-chart-text {
                        text-align: center;
                        font-family: "Inter", sans-serif;
                        font-size: 10px;
                        font-weight: 700;
                        position:relative;
                        color: #fff;
                    }
                    
                }
                
                

                
            }
        }


        .row-3 {
            display: grid;
            grid-template-columns: 1fr 2fr;
            gap: 3%;
            padding-inline: 3%;

            .topic {

                .title {
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 26.63px;
                    text-align: left;
                    color: var(--header-color);
                    margin-left: 1.5rem;
                }

                .container {
                    height: 14rem;
                    border-radius: 2rem;
                    // margin-left: 1.5rem;
                    margin-top: 0.4rem;
                    border-radius: 25px;
                    background-color: #fff;
                    margin-bottom: 2rem;

                
                }

        }
        
    }
}
